# Project 2 - Ames housing sales price analysis (Part 3 of 3)

## Import Libraries and Data

In [1]:
# import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import pickle

from sklearn import metrics

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
# load model from disk
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [3]:
# import previous X_train, X_test, y_train, y_test to confirm model integrity
X_train = pd.read_csv('../datasets/x_train.csv')
X_test = pd.read_csv('../datasets/x_test.csv')
y_train = pd.read_csv('../datasets/y_train.csv')
y_test = pd.read_csv('../datasets/y_test.csv')

## Verify imported model

In [4]:
# check score for train and test
# previously train R-sq was 0.86296, train rmse was 0.14262 
# previously test R-sq was 0.87557, test rmse was 0.14262
print(f'model train R-sq : {loaded_model.score(X_train, y_train):.5f}')
print(f'model test R-sq : {loaded_model.score(X_test, y_test):.5f}')
print(f'model train rmse : {np.sqrt(metrics.mean_squared_error(y_train, loaded_model.predict(X_train))):.5f}')
print(f'model test rmse : {np.sqrt(metrics.mean_squared_error(y_test, loaded_model.predict(X_test))):.5f}')

model train R-sq : 0.86296
model test R-sq : 0.87557
model train rmse : 0.14262
model test rmse : 0.14262

In [5]:
# check coefficients to be doubly sure
constant = loaded_model.intercept_
model_coef = pd.DataFrame(zip(X_train.columns, loaded_model.coef_), columns = ['feature', 'coef'])
model_coef = model_coef.append({'feature':'constant', 'coef':constant}, ignore_index=True)
model_coef

              feature      coef
0        overall_qual  0.054738
1        neighborhood  0.073011
2     log_gr_liv_area  0.323098
3        kitchen_qual  0.060082
4         garage_cars  0.045313
5              garage  0.006991
6           bsmt_qual  0.041331
7      log_1st_flr_sf  0.180217
8           full_bath -0.036363
9        fireplace_qu  0.017307
10  remod_age_at_sale -0.001504
11        age_at_sale -0.000541
12           constant  7.553838

Comments:\
Good that the model is loaded successfully. Several checks due to first time paranoia.

## Kaggles test simulations

In [6]:
# import kaggle X variables
kag_test = pd.read_csv('../datasets/test.csv')

In [7]:
# check the file info
kag_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     718 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Alley            58 non-null     object
 8   Lot Shape        878 non-null    object
 9   Land Contour     878 non-null    object
 10  Utilities        878 non-null    object
 11  Lot Config       878 non-null    object
 12  Land Slope       878 non-null    object
 13  Neighborhood     878 non-null    object
 14  Condition 1      878 non-null    object
 15  Condition 2      878 non-null    object
 16  Bldg Type        878 non-null    object
 17  House Style      878 non-null    object
 18  Overall Qual     878 non-null    int64
 19  Overall Cond     878 non-null    int64
 20  Year Built       878 non-null    int64
 21  Year Remod/Add   878 non-null    int64
 22  Roof Style       878 non-null    object
 23  Roof Matl        878 non-null    object
 24  Exterior 1st     878 non-null    object
 25  Exterior 2nd     878 non-null    object
 26  Mas Vnr Type     877 non-null    object
 27  Mas Vnr Area     877 non-null    float64
 28  Exter Qual       878 non-null    object
 29  Exter Cond       878 non-null    object
 30  Foundation       878 non-null    object
 31  Bsmt Qual        853 non-null    object
 32  Bsmt Cond        853 non-null    object
 33  Bsmt Exposure    853 non-null    object
 34  BsmtFin Type 1   853 non-null    object
 35  BsmtFin SF 1     878 non-null    int64
 36  BsmtFin Type 2   853 non-null    object
 37  BsmtFin SF 2     878 non-null    int64
 38  Bsmt Unf SF      878 non-null    int64
 39  Total Bsmt SF    878 non-null    int64
 40  Heating          878 non-null    object
 41  Heating QC       878 non-null    object
 42  Central Air      878 non-null    object
 43  Electrical       877 non-null    object
 44  1st Flr SF       878 non-null    int64
 45  2nd Flr SF       878 non-null    int64
 46  Low Qual Fin SF  878 non-null    int64
 47  Gr Liv Area      878 non-null    int64
 48  Bsmt Full Bath   878 non-null    int64
 49  Bsmt Half Bath   878 non-null    int64
 50  Full Bath        878 non-null    int64
 51  Half Bath        878 non-null    int64
 52  Bedroom AbvGr    878 non-null    int64
 53  Kitchen AbvGr    878 non-null    int64
 54  Kitchen Qual     878 non-null    object
 55  TotRms AbvGrd    878 non-null    int64
 56  Functional       878 non-null    object
 57  Fireplaces       878 non-null    int64
 58  Fireplace Qu     456 non-null    object
 59  Garage Type      834 non-null    object
 60  Garage Yr Blt    833 non-null    float64
 61  Garage Finish    833 non-null    object
 62  Garage Cars      878 non-null    int64
 63  Garage Area      878 non-null    int64
 64  Garage Qual      833 non-null    object
 65  Garage Cond      833 non-null    object
 66  Paved Drive      878 non-null    object
 67  Wood Deck SF     878 non-null    int64
 68  Open Porch SF    878 non-null    int64
 69  Enclosed Porch   878 non-null    int64
 70  3Ssn Porch       878 non-null    int64
 71  Screen Porch     878 non-null    int64
 72  Pool Area        878 non-null    int64
 73  Pool QC          4 non-null      object
 74  Fence            172 non-null    object
 75  Misc Feature     41 non-null     object
 76  Misc Val         878 non-null    int64
 77  Mo Sold          878 non-null    int64
 78  Yr Sold          878 non-null    int64
 79  Sale Type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

In [8]:
# preview the file
kag_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [9]:
# start by making all the columns header into lower case and converting space to underscores
kag_test.columns = kag_test.columns.str.replace(' ', '_')
kag_test.columns = kag_test.columns.str.lower()

In [10]:
# verify change
kag_test.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [11]:
# copy wholesale from original code
rating_dict = {'Ex': 5,
              'Gd': 4,
              'TA': 3,
              'Fa': 2,
              'Po': 1}
for i in ['exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond', 'heating_qc', 'kitchen_qual', 'fireplace_qu',
          'garage_qual']:
    kag_test[i] = kag_test[i].map(rating_dict)

In [12]:
# confirm change
kag_test['exter_qual']

0      3
1      3
2      4
3      4
4      3
      ..
873    3
874    4
875    3
876    3
877    3
Name: exter_qual, Length: 878, dtype: int64

In [13]:
# since in this case null values indicates the absence of the feature, will just fillna with 0
kag_test.fillna(0, inplace=True)
# let check that the null values are indeed addressed
kag_test.isnull().sum()[kag_test.isnull().sum()>0]

Series([], dtype: int64)

Recap:\
note 5 - garage attributes, an amalgamation of garage type * garage finish * garage quality, where

|garage type (gt) | gt assigned value |garage finish (gf)| gf assigned value|garage quality (gq)| gq assigned value|
|:----------------|:-----------------:|:-----------------|:----------------:|:------------------|:----------------:|
|attached         |          2        |finished          |          2       |excellent          |         5        |
|detached         |          1        |rough finished    |          2       |good               |         4        |
|builtin          |          2        |unfinished        |          1       |typical            |         3        |
|basement         |          1        |no garage         |          0       |fair               |         2        |
|2Types           |          1        |                  |                  |poor               |         1        |
|carport          |          1        |                  |                  |no garage          |         0        |
|no garage        |          0        |

In [14]:
kag_test['garage_type'].value_counts()

Attchd     518
Detchd     246
BuiltIn     53
0           44
Basment      9
CarPort      4
2Types       4
Name: garage_type, dtype: int64

In [15]:
kag_test['garage_finish'].value_counts()

Unf    382
RFn    233
Fin    218
0       45
Name: garage_finish, dtype: int64

In [16]:
# 2-pt system implementation for garage_type, garage_finish

gt_dict = {'Attchd' : 2,
          'Detchd'  : 1,
          'BuiltIn' : 2,
          'Basment' : 1,
          '2Types'  : 1,
          'CarPort' : 1,
           }

gf_dict = {'RFn'  : 2,
          'Unf'   : 1,
          'Fin'   : 2,
          }

kag_test1 = kag_test.copy()
kag_test1['garage_type'] = kag_test1['garage_type'].map(gt_dict)
kag_test1['garage_finish'] = kag_test1['garage_finish'].map(gf_dict)

In [17]:
# verify change
kag_test1['garage_type'].fillna(0, inplace=True)
kag_test1['garage_type'].value_counts()

2.0    571
1.0    263
0.0     44
Name: garage_type, dtype: int64

In [18]:
kag_test1['garage_finish'].fillna(0, inplace=True)
kag_test1['garage_finish'].value_counts()

2.0    451
1.0    382
0.0     45
Name: garage_finish, dtype: int64

In [19]:
kag_test1['garage_qual'].value_counts()

3.0    782
0.0     45
2.0     42
4.0      6
1.0      3
Name: garage_qual, dtype: int64

In [20]:
# create garage feature
kag_test1['garage'] = kag_test1['garage_type'] * kag_test1['garage_finish'] * kag_test1['garage_qual']

Recap:\
note 6 - neighborhood groupings as follows:

| neighborhood | group |
|:----------|:-----:|
|	Blmngtn	|	2	|
|	Blueste	|	1	|
|	BrDale	|	1	|
|	BrkSide	|	1	|
|	ClearCr	|	2	|
|	CollgCr	|	2	|
|	Crawfor	|	2	|
|	Edwards	|	1	|
|	Gilbert	|	2	|
|	Greens	|	2	|
|	GrnHill	|	3	|
|	IDOTRR	|	1	|
|	Landmrk	|	1	|
|	MeadowV	|	1	|
|	Mitchel	|	2	|
|	NAmes	|	1	|
|	NoRidge	|	3	|
|	NPkVill	|	1	|
|	NridgHt	|	3	|
|	NWAmes	|	2	|
|	OldTown	|	1	|
|	Sawyer	|	1	|
|	SawyerW	|	2	|
|	Somerst	|	2	|
|	StoneBr	|	3	|
|	SWISU	|	1	|
|	Timber	|	2	|
|	Veenker	|	2	|

In [21]:
# next apply transformation to neighborhood

nbh_dict = {'Blmngtn':2,
            'Blueste':1,
            'BrDale':1, 
            'BrkSide':1, 
            'ClearCr':2, 
            'CollgCr':2,       
            'Crawfor':2, 
            'Edwards':1, 
            'Gilbert':2, 
            'Greens':2, 
            'GrnHill':3, 
            'IDOTRR':1,       
            'Landmrk':1, 
            'MeadowV':1, 
            'Mitchel':2, 
            'NAmes':1, 
            'NPkVill':1, 
            'NWAmes':2,
            'NoRidge':3, 
            'NridgHt':3, 
            'OldTown':1, 
            'SWISU':1, 
            'Sawyer':1, 
            'SawyerW':2,
            'Somerst':2, 
            'StoneBr':3, 
            'Timber':2, 
            'Veenker':2
           }
kag_test1['neighborhood'] = kag_test1['neighborhood'].map(nbh_dict)

In [22]:
# original counts
kag_test['neighborhood'].count()

878

In [23]:
# verified tranformed counts
kag_test1['neighborhood'].count()

878

In [24]:
# create the new log transformed columns
kag_test1['log_gr_liv_area'] = np.log(kag_test1['gr_liv_area'])
kag_test1['log_1st_flr_sf'] = np.log(kag_test1['1st_flr_sf'])

In [25]:
# create the age at sale and remod age at sale
kag_test1['age_at_sale'] = kag_test1['yr_sold'] - kag_test1['year_built']
kag_test1['remod_age_at_sale'] = kag_test1['yr_sold'] - kag_test1['year_remod/add']

In [26]:
# verify new columns
kag_test1.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,misc_feature,misc_val,mo_sold,yr_sold,sale_type,garage,log_gr_liv_area,log_1st_flr_sf,age_at_sale,remod_age_at_sale
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,4,2006,WD,1.0,7.564238,6.811244,96,56
1,2718,905108090,90,RL,0.0,9662,Pave,0,IR1,Lvl,...,0,0,8,2006,WD,12.0,7.584265,7.584265,29,29
2,2414,528218130,60,RL,58.0,17104,Pave,0,IR1,Lvl,...,0,0,9,2006,New,12.0,7.310550,6.498282,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,0,Reg,Lvl,...,0,0,7,2007,WD,2.0,6.875232,6.875232,84,1
4,625,535105100,20,RL,0.0,9500,Pave,0,IR1,Lvl,...,0,0,7,2009,WD,12.0,7.239933,7.239933,46,46

Comments:\
The necessary transformations should be completed. Next up to extract the relevant columns.

In [27]:
# extract the requisite X variables, including the id column
kag_X = kag_test1[['id', 'overall_qual', 'neighborhood', 'log_gr_liv_area', 'kitchen_qual', 
                   'garage_cars', 'garage', 'bsmt_qual', 'log_1st_flr_sf',
                   'full_bath', 'fireplace_qu', 'remod_age_at_sale', 
                   'age_at_sale']]

In [28]:
kag_X.head()

,id,overall_qual,neighborhood,log_gr_liv_area,kitchen_qual,garage_cars,garage,bsmt_qual,log_1st_flr_sf,full_bath,fireplace_qu,remod_age_at_sale,age_at_sale
0,2658,6,1,7.564238,2,1,1.0,2.0,6.811244,2,0.0,56,96
1,2718,5,1,7.584265,3,2,12.0,4.0,7.584265,2,0.0,29,29
2,2414,7,2,7.310550,4,2,12.0,4.0,6.498282,2,4.0,0,0
3,1989,5,1,6.875232,3,2,2.0,3.0,6.875232,1,0.0,1,84
4,625,6,1,7.239933,3,2,12.0,4.0,7.239933,1,4.0,46,46

In [29]:
# take out only model variables
kag_X_var = kag_X.drop(columns = ['id'])

In [30]:
# confirm the columns order vs the modelled order with the exception of constant
kag_X_var.columns

Index(['overall_qual', 'neighborhood', 'log_gr_liv_area', 'kitchen_qual',
       'garage_cars', 'garage', 'bsmt_qual', 'log_1st_flr_sf', 'full_bath',
       'fireplace_qu', 'remod_age_at_sale', 'age_at_sale'],
      dtype='object')

In [31]:
model_coef['feature'].values

array(['overall_qual', 'neighborhood', 'log_gr_liv_area', 'kitchen_qual',
       'garage_cars', 'garage', 'bsmt_qual', 'log_1st_flr_sf',
       'full_bath', 'fireplace_qu', 'remod_age_at_sale', 'age_at_sale',
       'constant'], dtype=object)

### Derive the y = log(saleprice) predictions

In [32]:
# get the predictions
y = loaded_model.predict(kag_X_var)

In [33]:
# transform the predictions back to original scale and put to dataframe per the template requirements
kag_predicted = pd.DataFrame(zip(kag_X['id'], np.exp(y)), columns = ['Id', 'SalePrice'])

In [34]:
# check outcome
kag_predicted.head()

     Id      SalePrice
0  2658  117357.169695
1  2718  180928.738997
2  2414  197368.010845
3  1989  118950.792768
4   625  172492.143112

In [35]:
# export csv
kag_predicted.to_csv('../datasets/kag_submission.csv', index=False)

### Hurray!